CREATE DATABASE [SCANID_Warekar_2022_2023]
GO
use [SCANID_Warekar_2022_2023]
Go
CREATE TABLE [AbsentPresentReport](
	[Date1] [nvarchar](200) NULL,
	[Rollno] [nvarchar](255) NULL,
	[CardID] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[StdDiv] [nvarchar](255) NULL,
	[InTime] [nvarchar](255) NULL,
	[abstotal] [nvarchar](500) NULL,
	[classtotal] [nvarchar](500) NULL,
	[OutTime] [nvarchar](500) NULL,
	[verifytype] [nvarchar](500) NULL
) 
Go
CREATE TABLE [AssetRegister](
	[AssetUID] [nvarchar](255) NOT NULL Primary key,
	[AssetCategory] [nvarchar](255) NULL,
	[AssetName] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Qty] [nvarchar](255) NULL,
	[Price] [nvarchar](255) NULL,
	[TotalCost] [nvarchar](255) NULL,
	[AssetDescription] [nvarchar](255) NULL
)
Go
CREATE TABLE [AttendanceEntry](
	[CardID] [nvarchar](255) NOT NULL,
	[Date1] [nvarchar](200) NOT NULL,
	[InTime] [nvarchar](200) NOT NULL,
	[IsPresent] [nvarchar](10) NULL,
	[Reason] [nvarchar](255) NULL,
	[isStudent] [nvarchar](10) NULL,
	[att_status] [nvarchar](50) NULL,
	[std] [nvarchar](255) NULL,
	[div] [nvarchar](255) NULL,
	[stddiv] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[StuName] [nvarchar](255) NULL,
	[Shiftname] [nvarchar](255) NULL,
	[devid] [nvarchar](255) NULL,
	[verifytype] [nvarchar](255) NULL,
	[fingerid] nvarchar(100),
	[att_cardid] [nvarchar](255),
	[cardtype] [nvarchar](255),
	grno nvarchar(255) null
)
GO
CREATE TABLE [temp_AttendanceEntry](
	[CardID] [nvarchar](255) NOT NULL,
	[Date1] [nvarchar](200) NOT NULL,
	[InTime] [nvarchar](200) NOT NULL,
	[IsPresent] [nvarchar](10) NULL,
	[Reason] [nvarchar](255) NULL,
	[isStudent] [nvarchar](10) NULL,
	[att_status] [nvarchar](50) NULL,
	[std] [nvarchar](255) NULL,
	[div] [nvarchar](255) NULL,
	[stddiv] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[StuName] [nvarchar](255) NULL,
	[Shiftname] [nvarchar](255) NULL,
	[devid] [nvarchar](255) NULL,
	[verifytype] [nvarchar](255) NULL,
	[fingerid] nvarchar(100) NULL,
	[att_cardid] [nvarchar](255),
	[cardtype] [nvarchar](255),
	grno nvarchar(255) null
) 

Go
CREATE TABLE [BloodGroup](
	[bloodgrp] [nvarchar](255) NOT NULL Primary key
)
Go
CREATE TABLE [busnumber](
	[busnumber] [varchar](10) NULL
)
Go
CREATE TABLE [BusStudentMaster](
	[StudentName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Mob] [nvarchar](255) NULL,
	[STD] [nvarchar](255) NULL,
	[DIV] [nvarchar](255) NULL,
	[Section] [nvarchar](255) NULL,
	[sectionAgain] [nvarchar](255) NULL,
	[cardid] [nvarchar](255) NULL,
	[grno] [nvarchar](255) NULL,
	[mobile2] [nvarchar](255) NULL,
	[rfid] [nvarchar](255) NULL,
	[busnumber] [nchar](10) NULL,
	[busgroupname] nvarchar(500)
);
Go
CREATE TABLE [Caste](
	[Caste] [nvarchar](255) NOT NULL Primary key,
 )

Go
CREATE TABLE [Category](
	[category] [nvarchar](255) NOT NULL Primary key	
)
Go
CREATE TABLE [ComplaintLog](
	[Date] [nvarchar](200) NULL,
	[Problemtype] [nvarchar](20) NULL,
	[Description] [nvarchar](120) NULL,
	[Contactname] [nvarchar](100) NULL,
	[Contactnumber] [nvarchar](20) NULL,
	[Teamviewerid] [nvarchar](30) NULL,
	[Teamviewerpass] [nvarchar](30) NULL,
	[ammyyid] [nvarchar](50) NULL,
	[scanidcontact] [nvarchar](12) NULL,
	[scanidmail] [nvarchar](60) NULL
)

Go

CREATE TABLE [daybook](
	[stddiv] [nvarchar](255) NULL,
	[total1] [nvarchar](255) NULL,
	[present] [nvarchar](255) NULL DEFAULT ('0'),
	[absent] [nvarchar](255) NULL DEFAULT ('0'),
	[percentageatt] [nvarchar](255) NULL DEFAULT ('0'),
	[date11] [nvarchar](200) NULL
)

Go

CREATE TABLE [Designation](
	[Desig] [nvarchar](255) NULL
) 

Go
CREATE TABLE [Div](
	[div] [nvarchar](255) NULL
)

Go

CREATE TABLE [Edureport](
	[stddiv] [nvarchar](255) NULL,
	[RegMale] [nvarchar](255) NULL,
	[Regfemale] [nvarchar](255) NULL DEFAULT ('0'),
	[TotReg] [nvarchar](255) NULL,
	[PreMale] [nvarchar](255) NULL DEFAULT ('0'),
	[Prefemale] [nvarchar](255) NULL DEFAULT ('0'),
	[TotPre] [nvarchar](255) NULL,
	[AbsMale] [nvarchar](255) NULL,
	[AbsFemale] [nvarchar](255) NULL,
	[TotAbs] [nvarchar](255) NULL,
	[TotalStu] [nvarchar](255) NULL,
	[date11] [nvarchar](200) NULL
) 
Go
CREATE TABLE [InOutReport](
	[CardId] [nvarchar](255) NULL,
	[Srno] [nvarchar](255) NULL,
	[InoutDate] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[Std] [nvarchar](255) NULL,
	[Div] [nvarchar](255) NULL,
	[Punch1] [nvarchar](255) NULL,
	[Punch2] [nvarchar](255) NULL,
	[Punch3] [nvarchar](255) NULL,
	[Punch4] [nvarchar](255) NULL,
	[Punch5] [nvarchar](255) NULL,
	[Punch6] [nvarchar](255) NULL,
	[verifytype] [nvarchar](255) NULL
) 

Go

CREATE TABLE [Leftstaff](
	[FNAME] [nvarchar](50) NULL,
	[DESIGNATION] [nvarchar](255) NULL,
	[EMPCODE] [nvarchar](255) NOT NULL,
	[STD] [nvarchar](10) NOT NULL,
	[DIV] [nvarchar](10) NOT NULL,
	[ISCLASSTEACHER] [nvarchar](10) NULL,
	[GENDER] [nvarchar](10) NULL,
	[DOB] [nvarchar](200) NULL,
	[BLOODGROUP] [nvarchar](10) NULL,
	[CASTE] [nvarchar](50) NULL,
	[RELIGION] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[CITY] [nvarchar](50) NULL,
	[PIN] [nvarchar](10) NULL,
	[STATE] [nvarchar](50) NULL,
	[MOBILE] [nvarchar](12) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SHIFTNAME] [nvarchar](50) NULL,
	[DOA] [nvarchar](200) NULL,
	[PHOTOPATH] [nvarchar](200) NULL,
	[CARDID] [nvarchar](255) NULL,
	[VALIDFROM] [nvarchar](200) NULL,
	[VALIDTO] [nvarchar](200) NULL,
	[SUBCASTE] [nvarchar](255) NULL,
	[CONTACT2] [nvarchar](255) NULL,
	[RETIREMENT] [nvarchar](255) NULL,
	[INITIALS] [nvarchar](255) NULL,
 CONSTRAINT [staffpk] PRIMARY KEY 
(
	[EMPCODE] ASC,
	[STD] ASC,
	[DIV] ASC
)
);

Go

CREATE TABLE [LEFTSTUDENTS](
	[STUDENTID] [nvarchar](200) NULL,
	[FNAME] [nvarchar](200) NULL,
	[MNAME] [nvarchar](200) NULL,
	[LNAME] [nvarchar](200) NULL,
	[STD] [nvarchar](200) NOT NULL,
	[DIV] [nvarchar](200) NOT NULL,
	[ROLLNO] [nvarchar](200) NOT NULL,
	[GRNO] [nvarchar](100) NULL,
	[GENDER] [nvarchar](10) NULL,
	[DOB] [nvarchar](200) NULL,
	[BLOODGROUP] [nvarchar](100) NULL,
	[CASTE] [nvarchar](50) NULL,
	[RELIGION] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[CITY] [nvarchar](100) NULL,
	[PIN] [nvarchar](100) NULL,
	[STATE] [nvarchar](50) NULL,
	[FATHERNAME] [nvarchar](200) NULL,
	[MOTHERNAME] [nvarchar](200) NULL,
	[MOBILE] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SHIFTNAME] [nvarchar](200) NULL,
	[DOA] [nvarchar](200) NULL,
	[PHOTOPATH] [nvarchar](500) NULL,
	[CARDID] [nvarchar](500) NULL,
	[VALIDFROM] [nvarchar](200) NULL,
	[VALIDTO] [nvarchar](200) NULL,
	[sms] [nvarchar](10) NULL,
	[fullname] [nvarchar](500) NULL,
	[subcaste] [nvarchar](255) NULL,
	[contact2] [nvarchar](255) NULL,
	[photo] [image] NULL,
	[ispromoted] [nvarchar](10),
	[saralid] [nvarchar](100),
	[aadharcard] [nvarchar](100),
	[bankname] [nvarchar](200),
	[bankacc] [nvarchar](100),
	[cid] [nvarchar](100),
	[fingerid] [nvarchar](500),
	[freeshiptype] nvarchar(500),
	[status] nvarchar(500),
	[otp] nvarchar(500),
	[admissiontype] nvarchar(500) default 'regular',
	[subjects] nvarchar(500),
	[placeofbirth] nvarchar(500),
	[birthtaluka] nvarchar(500),
	[birthdistrict] nvarchar(500),
	[birthstate] nvarchar(500),
	[birthcountry] nvarchar(500),
	[mothertongue] nvarchar(500),
	[Nationality] nvarchar(100),
	[Lastschool] nvarchar(500),
	[Progress] nvarchar(500),
	[DateofLeaving] nvarchar(100),
	[Reasonforleaving] nvarchar(500),
	[LCNo] nvarchar(500),
	[conduct] nvarchar(500),
	[remark] nvarchar(500),
	dobwords nvarchar(500),
	admissionstd nvarchar(500),
	accountname nvarchar(500),
	IQLD nvarchar(10),
	schoolsection nvarchar(500),
	leftstatus nvarchar(100),
	academicyear nvarchar(500) NULL,
	stdstudying nvarchar(500),
	house nvarchar(500),
	feesinstallment nvarchar(500),
	digitaluniform nvarchar(10),
	digitalnotebook nvarchar(10),
	childtracker nvarchar(10),
	entrydate nvarchar(40),
	libraryid nvarchar(100),
	uniformid nvarchar(500),
	stdstudyingInWords nvarchar(500),
	[ReasonLeaving] nvarchar(500)
);

Go
CREATE TABLE [Login](
	[Username] [nvarchar](20) NULL,
	[Password] [nvarchar](50) NULL,
	[smsUsername] [nvarchar](255) NULL,
	[smsPassword] [nvarchar](255) NULL
);


Go
CREATE TABLE [ManualAtt](

	[fname] [nvarchar](255) NULL,
	[attdate] [nvarchar](255) NULL
);

Go
CREATE TABLE [monthlyinout](
	[studentname] [nvarchar](100) NULL,
	[std] [nvarchar](50) NULL,
	[div] [nvarchar](50) NULL,
	[rollno] [nvarchar](50) NULL,
	[grno] [nvarchar](100) NULL,
	[Date1] [nvarchar](500) NULL,
	[punch1] [nvarchar](500) NULL,
	[punch2] [nvarchar](500) NULL,
	[punch3] [nvarchar](500) NULL,
	[punch4] [nvarchar](500) NULL,
	[punch5] [nvarchar](500) NULL,
	[punch6] [nvarchar](500) NULL,
	[present] [nvarchar](10) NULL,
	[absent] [nvarchar](10) NULL,
	[working] [nvarchar](10) NULL,
	[holiday] [nvarchar](10) NULL
);

Go
CREATE TABLE [ptamaster](
	[ParentName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Mob] [nvarchar](255) NULL,
	[OffNo] [nvarchar](255) NULL,
	[ChildName] [nvarchar](255) NULL,
	[STD] [nvarchar](255) NULL,
	[DIV] [nvarchar](255) NULL,
	[Section] [nvarchar](255) NULL,
	[photopath] [nvarchar](255) NULL,
	[grno] [nvarchar](255) NULL
) 

Go
CREATE TABLE [PupilRegister](
	[ID] [nvarchar](100) NULL,
	[CardID] [nvarchar](255) NULL,
	[Rollno] [nvarchar](255) NULL,
	[Grno] [nvarchar](255) NULL,
	[DOB] [nvarchar](255) NULL,
	[Age] [nvarchar](255) NULL,
	[Fullname] [nvarchar](255) NULL,
	[01] [nvarchar](255) NULL,
	[02] [nvarchar](255) NULL,
	[03] [nvarchar](255) NULL,
	[04] [nvarchar](255) NULL,
	[05] [nvarchar](255) NULL,
	[06] [nvarchar](255) NULL,
	[07] [nvarchar](255) NULL,
	[08] [nvarchar](255) NULL,
	[09] [nvarchar](255) NULL,
	[10] [nvarchar](255) NULL,
	[11] [nvarchar](255) NULL,
	[12] [nvarchar](255) NULL,
	[13] [nvarchar](255) NULL,
	[14] [nvarchar](255) NULL,
	[15] [nvarchar](255) NULL,
	[16] [nvarchar](255) NULL,
	[17] [nvarchar](255) NULL,
	[18] [nvarchar](255) NULL,
	[19] [nvarchar](255) NULL,
	[20] [nvarchar](255) NULL,
	[21] [nvarchar](255) NULL,
	[22] [nvarchar](255) NULL,
	[23] [nvarchar](255) NULL,
	[24] [nvarchar](255) NULL,
	[25] [nvarchar](255) NULL,
	[26] [nvarchar](255) NULL,
	[27] [nvarchar](255) NULL,
	[28] [nvarchar](255) NULL,
	[29] [nvarchar](255) NULL,
	[30] [nvarchar](255) NULL,
	[31] [nvarchar](255) NULL,
	[Pre] [nvarchar](255) NULL,
	[Abs] [nvarchar](255) NULL,
	[Total] [nvarchar](255) NULL,
	[Att] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[srno] nvarchar(100) NULL,
	[std] nvarchar(500),
	[div] nvarchar(500)
);

Go

CREATE TABLE [Religion](
	[religion] [nvarchar](255) NOT NULL Primary key
);

Go 

CREATE TABLE [RFIDError](
	[Date1] [nvarchar](200) NULL,
	[RFID] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[replaced] [nvarchar](100) NULL,
	[std] [nvarchar](100) NULL,
	[div] [nvarchar](100) NULL
)

Go

CREATE TABLE [Schedule](
	[schedulename] [nvarchar](100) NULL,
	[trigger] [nvarchar](50) NULL,
	[Date] [nvarchar](200) NULL,
	[Time] [nvarchar](200) NULL,
	[settime] [nvarchar](10) NULL,
	[download] [nvarchar](10) NULL,
	[upload] [nvarchar](10) NULL,
	[erase] [nvarchar](10) NULL,
	[Auto_Operation] [nvarchar](10) NULL,
	[shiftname] [nvarchar](100) NULL,
	[insms] [nvarchar](10) NULL,
	[outsms] [nvarchar](10) NULL,
	[schedulestat] [nvarchar](10) NULL,
	[absentsms] [nvarchar](10) NULL,
	[wlanexe] [nvarchar](10) NULL,
	[wlanpath]  [nvarchar]  (200) NULL
)

Go

CREATE TABLE [SchoolMaster](
	[SchoolName] [nvarchar](255) NOT NULL Primary key,
	[ShortName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[PIN] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[WebAddress] [nvarchar](255) NULL,
	[WeeklyOff1] [nvarchar](255) NULL,
	[WeeklyOff2] [nvarchar](255) NULL,
	[senderid] [nvarchar](255) NULL,
	[logopath] [nvarchar](max) NULL,
	[smslimit] [nvarchar](500) NULL,
	[scanidcontact] [nvarchar](100) NULL,
	[InChargecontact] [nvarchar](100) NULL,
	[presentsms] [nvarchar](10) NULL,
	[photo] [image] NULL,
	[senderemail] [nvarchar](100) NULL,
	[latitude] [nvarchar] (500),
	[longtitude] [nvarchar] (500),
	[schooludise] nvarchar(500),
	[academicyear] nvarchar(500),
	[autobirthsms] nvarchar(10),
	whatsapp [nvarchar] (10) default 0
);

Go

CREATE TABLE [ServerConfig](
	[databasepath] [nvarchar](100) NULL,
	[iodatapath] [nvarchar](100) NULL,
	[photopath] [nvarchar](100) NULL,
	[downloadpath] [nvarchar](200) NULL,
	[backuppath] [nvarchar] (200) NULL,
	[backuptime] [nvarchar] (9),
	backuppath1 [nvarchar] (200) NULL,
	backuppath2 [nvarchar] (200) NULL,
	backuppath3 [nvarchar] (200) NULL,
	backuppath4 [nvarchar] (200) NULL,
	backuptime1 nvarchar(9) NULL,
	backuptime2 nvarchar(9) NULL,
	backuptime3 nvarchar(9) NULL,
	backuptime4 nvarchar(9) NULL
);

Go

CREATE TABLE [ShiftMaster](
	[ShiftName] [nvarchar](255) NOT NULL Primary key,
	[IsOutPunch] [nvarchar](10) NULL,
	[StartTime] [nvarchar](200) NULL,
	[EndTime] [nvarchar](200) NULL,
	[GraceInTime] [nvarchar](200) NULL,
	[SpanIntime] [nvarchar](200) NULL,
	[LunchStart] [nvarchar](200) NULL,
	[LunchEnd] [nvarchar](200) NULL,
	[srno] nvarchar(100)
);

Go
CREATE TABLE [smsLog](
	[cardid] [nvarchar](255) NULL,
	[sms_date] [nvarchar](200) NULL,
	[message] [nvarchar](max) NULL,
	[StudentName] [nvarchar](255) NULL,
	[std] [nvarchar](255) NULL,
	[div] [nvarchar](255) NULL,
	[smstime] [nvarchar](200) NULL,
	[mob] [nvarchar](255) NULL,
	[totsms] [nvarchar](255) NULL,
	[insms] [nvarchar](10) NULL,
	[outsms] [nvarchar](10) NULL,
	[absentee] [nvarchar](10) NULL,
	[systemerror] [nvarchar](10) NULL,
	[inpunch] [nvarchar](10) NULL,
	[outpunch] [nvarchar](10) NULL,
	[smsresponse] [nvarchar](500) NUll,
	[othersms] [nvarchar] (500) NULL,
	[birthdaysms] nvarchar(500) NULL,
	[grno] nvarchar(500) NULL,
	[studentid] nvarchar(500),
	[smsprovider] nvarchar(500),
	[feessms] nvarchar(10)
);

Go

CREATE TABLE [SMSTemp](
	id bigint IDENTITY(1,1) Primary key ,
	[smstext] [nvarchar](255) Not Null,
	dlttempid nvarchar(255) Not NULL
)

Go

CREATE TABLE [staffmaster](
	[FNAME] [nvarchar](500) NULL,
	[DESIGNATION] [nvarchar](500) NULL,
	[EMPCODE] [nvarchar](500) NOT NULL,
	[STD] [nvarchar](100) NULL,
	[DIV] [nvarchar](100) NULL,
	[ISCLASSTEACHER] [nvarchar](10) NULL,
	[GENDER] [nvarchar](100) NULL,
	[DOB] [nvarchar](200) NULL,
	[BLOODGROUP] [nvarchar](100) NULL,
	[CASTE] [nvarchar](500) NULL,
	[RELIGION] [nvarchar](500) NULL,
	[CATEGORY] [nvarchar](500) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[CITY] [nvarchar](500) NULL,
	[PIN] [nvarchar](100) NULL,
	[STATE] [nvarchar](500) NULL,
	[MOBILE] [nvarchar](120) NULL,
	[EMAIL] [nvarchar](500) NULL,
	[SHIFTNAME] [nvarchar](500) NULL,
	[DOA] [nvarchar](200) NULL,
	[PHOTOPATH] [nvarchar](200) NULL,
	[CARDID] [nvarchar](255) NULL,
	[VALIDFROM] [nvarchar](200) NULL,
	[VALIDTO] [nvarchar](200) NULL,
	[SUBCASTE] [nvarchar](255) NULL,
	[CONTACT2] [nvarchar](255) NULL,
	[RETIREMENT] [nvarchar](255) NULL,
	[INITIALS] [nvarchar](255) NULL,
	[photo] [image] NULL,
	[staffid] nvarchar(500),
	[otp] nvarchar(500),
	fingerid nvarchar(200),
	[password] nvarchar(200),
 CONSTRAINT [staffmastpk] PRIMARY KEY
(
	[EMPCODE] ASC
)
);

Go

CREATE TABLE [std](
	[std] [nvarchar](255) NULL
);

Go

CREATE TABLE [studentmaster](
	[STUDENTID] [nvarchar](200) NULL,
	[FNAME] [nvarchar](200) NULL,
	[MNAME] [nvarchar](200) NULL,
	[LNAME] [nvarchar](200) NULL,
	[STD] [nvarchar](500) NOT NULL,
	[DIV] [nvarchar](200) NOT NULL,
	[ROLLNO] [nvarchar](200) NOT NULL,
	[GRNO] [nvarchar](100) NULL,
	[GENDER] [nvarchar](10) NULL,
	[DOB] [nvarchar](200) NULL,
	[BLOODGROUP] [nvarchar](100) NULL,
	[CASTE] [nvarchar](50) NULL,
	[RELIGION] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[CITY] [nvarchar](100) NULL,
	[PIN] [nvarchar](100) NULL,
	[STATE] [nvarchar](50) NULL,
	[FATHERNAME] [nvarchar](200) NULL,
	[MOTHERNAME] [nvarchar](200) NULL,
	[MOBILE] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SHIFTNAME] [nvarchar](200) NULL,
	[DOA] [nvarchar](200) NULL,
	[PHOTOPATH] [nvarchar](500) NULL,
	[CARDID] [nvarchar](500) NULL,
	[VALIDFROM] [nvarchar](200) NULL,
	[VALIDTO] [nvarchar](200) NULL,
	[sms] [nvarchar](10) NULL,
	[fullname] [nvarchar](500) NULL,
	[subcaste] [nvarchar](255) NULL,
	[contact2] [nvarchar](255) NULL,
	[photo] [image] NULL,
	[ispromoted] [nvarchar](10),
	[saralid] [nvarchar](100),
	[aadharcard] [nvarchar](100),
	[bankname] [nvarchar](200),
	[bankacc] [nvarchar](100),
	[cid] [nvarchar](100),
	[fingerid] [nvarchar](500),
	[freeshiptype] nvarchar(500),
	[status] nvarchar(500),
	[otp] nvarchar(500),
	[admissiontype] nvarchar(500) default 'regular',
	[subjects] nvarchar(500),
	[placeofbirth] nvarchar(500),
	[birthtaluka] nvarchar(500),
	[birthdistrict] nvarchar(500),
	[birthstate] nvarchar(500),
	[birthcountry] nvarchar(500),
	[mothertongue] nvarchar(500),
	[Nationality] nvarchar(100),
	[Lastschool] nvarchar(500),
	[Progress] nvarchar(500),
	[DateofLeaving] nvarchar(100),
	[Reasonforleaving] nvarchar(500),
	[LCNo] nvarchar(500),
	[conduct] nvarchar(500),
	[remark] nvarchar(500),
	dobwords nvarchar(500),
	admissionstd nvarchar(500),
	accountname nvarchar(500),
	IQLD nvarchar(10),
	schoolsection nvarchar(500),
	leftstatus nvarchar(100),
	academicyear nvarchar(500) NULL,
	stdstudying nvarchar(500),
	house nvarchar(500),
	feesinstallment nvarchar(500),
	digitaluniform nvarchar(10),
	digitalnotebook nvarchar(10),
	childtracker nvarchar(10),
	entrydate nvarchar(40),
	libraryid nvarchar(100),
	uniformid nvarchar(500),
	stdstudyingInWords nvarchar(500),
	[ReasonLeaving] nvarchar(500)
);

Go
CREATE TABLE [SubCaste](
	[subcaste] [nvarchar](255) NOT NULL Primary key
) ;

Go

Create Table FeeHeader
(
	Fee_Code nvarchar(50),
	Fee_Header nvarchar(500) NOT NUll,
	[Month] nvarchar(50),
	duedate [nvarchar](500),
	tick [nvarchar](500),
	feecategory nvarchar(500)
)
Go
Create Table FeeParticular
(
	[Std-Div] nvarchar(50) Not NULL,
	[Total] nvarchar(100) Null Default 0,
	[academicyear] nvarchar(200) Not NULL,
	[ParticularName] nvarchar(500) Not Null
)

Go

Create Table FeesAccounts(
	Accountname nvarchar(500) not null,
	receiptname nvarchar(500) null
	Primary Key(Accountname)
);

Go

Create Table StudentFees
(
	[Receiptno] nvarchar(1000) ,
	[Receiptdate] [nvarchar](500),
	[Studentname] nvarchar(500),
	[Std] nvarchar(500),
	[Div] nvarchar(500),
	[Grno] nvarchar(100),
	[Cardid] nvarchar(500),
	[Paymode] nvarchar(100),
	[modeno] nvarchar(500),
	[Bankname] nvarchar(500),
	[Branch] nvarchar(500),
	[Fine] nvarchar(500) not null default 0,
	[Concession] nvarchar(500) not null default 0,
	[Totalamt] nvarchar(500) not null default 0,
	[Amtpaid] nvarchar(500) not null default 0,
	[balanceamt] nvarchar(500) not null default 0,
	[fullfees] nvarchar(10) not null default 0,
	[ActualFees] nvarchar(500) not null default 0,
	[receiptstatus] nvarchar(500),
	[reason] nvarchar(max),
	[chequecleardate] nvarchar(50),
	[fine_bounce] nvarchar(100),
	[fine_bounce_rcpt] nvarchar(100),
	Accountname nvarchar(500) not null,
	academicyear nvarchar(200),
	[period] nvarchar(500),
	[cashiername] nvarchar(500),
	Primary Key (Receiptno,accountname),
	foreign key  (Accountname) references FeesAccounts(Accountname)

);

Go

Create Table ReceiptReport
(
	[Receiptno] nvarchar(1000),
	[Studentname] nvarchar(500),
	[std_div] nvarchar(500),
	[Grno] nvarchar(100),
	[Particular] nvarchar(500),
	[Amount] nvarchar(500) ,
	[AmtPaid] nvarchar(500),
	[std] nvarchar(500),
	receiptstatus nvarchar(500),
	Accountname nvarchar(500) not null,
	[period] nvarchar(500),
	[academicyear] nvarchar(200)
	--foreign key  (Receiptno,accountname) references StudentFees(receiptno,accountname)
)

Go
Create Table [CancelledReceipt]
(
	[Receiptno] nvarchar(1000),
	[Receiptdate] date,
	[Studentname] nvarchar(500),
	[std_div] nvarchar(50),
	[Grno] nvarchar(100),
	[Particular] nvarchar(500),
	[Amount] nvarchar(500),
	[Cancelleddate] date,
	[Reason] nvarchar(max)
)

Go


Create Table FeesCollection
(
	[Grno] nvarchar(500),
	[Receiptno] nvarchar(500),
	[ReceiptDate] nvarchar(500),
	[std] nvarchar(500),
	[div] nvarchar(500),
	[studentname] nvarchar(500),
	[amtpaid] nvarchar(500),
	[amtbalance] nvarchar(500),
	[totalamt] nvarchar(500),
	[fine] nvarchar(500),
	[concession] nvarchar(500),
	[user] nvarchar(300)
);

Go

Create Table ConsolidatedStaff
(
	[Shiftname] nvarchar(500),
	[Staffname] nvarchar(500),
	[Cardid] nvarchar(500),
	[Month] nvarchar(500),
	[Workingday] nvarchar(500),
	[absent] nvarchar(500),
	[latedays] nvarchar(500),
	[calculatedabsent] nvarchar(500),
	[earneddays] nvarchar(500),
	[fromdate] nvarchar(500),
	[todate] nvarchar(500),
	[present] nvarchar(500)
);

Create Table ConsolidatedStudent
(
	[Shiftname] nvarchar(500),
	[fullname] nvarchar(500),
	[Std] nvarchar(500),
	[Div] nvarchar(500),
	[Cardid] nvarchar(500),
	[Month] nvarchar(500),
	[Workingday] nvarchar(500),
	[absent] nvarchar(500),
	[latedays] nvarchar(500),
	[calculatedabsent] nvarchar(500),
	[earneddays] nvarchar(500),
	[fromdate] nvarchar(500),
	[todate] nvarchar(500)
);

Create Table Schoolandroid
(
	[shortname] nvarchar(500),
	[city] nvarchar(500),
	[servername] nvarchar(500),
	[dbname] nvarchar(500),
	[dbusername] nvarchar(500),
	[dbpass] nvarchar(500)
);

Create Table Monthlylate
(
	[cardid] nvarchar(500),
	[empcode] nvarchar(500),
	[fullname] nvarchar(500),
	[intime] nvarchar(500),
	[Date1] nvarchar(500),
	[shiftname] nvarchar(500)
);

Create Table appdatalog(
[date] nvarchar(500),
[time] nvarchar(500),
[tablename] nvarchar(500),
[lastrecdate] nvarchar(500)


);

Create Table sms_log
(
	[cardid] nvarchar(100),
	[smsdate] nvarchar(11),
	[smstime] nvarchar(9),
	[smstext] nvarchar(500),
	[punchtype] int,
	[smsresponse] nvarchar(max),
	[smsstatus] bit,
	[smscontact] nvarchar(12),
	[smscount] int,
	[punchtime] nvarchar(9),
	[grno] nvarchar(500) NULL,
	[studentid] nvarchar(max),
	[std] nvarchar(400),
	[div] nvarchar(400),
	[smsprovider] nvarchar(500),
	[isstudent] nvarchar(10)


	--punchtype insms=1, outsms=2
);



CREATE TABLE [AttendanceMaster](
	[CardID] [nvarchar](255) NOT NULL,
	[Date] [nvarchar](12) NOT NULL,
	[InTime] [nvarchar](9) NOT NULL,
	[machineid] [nvarchar](3) NOT NUll
 CONSTRAINT [pk_id1] PRIMARY KEY 
(
	[CardID] ASC,
	[Date] ASC,
	[InTime] ASC
)
) ON [PRIMARY]
--drop table [AttendanceMaster]

Create Table [StudentSubject]
(
	[cardid] nvarchar(11),
	[studentname] nvarchar(200),
	[subject] nvarchar(200),
	[std] nvarchar(100),
	[div] nvarchar(100)

);

GO


Create Table [LeavingCertificate]
(
	[Lcno] nvarchar(11),
	[FNAME] [nvarchar](200) NULL,
	[MNAME] [nvarchar](200) NULL,
	[LNAME] [nvarchar](200) NULL,
	[STD] [nvarchar](200) NOT NULL,
	[DIV] [nvarchar](200) NOT NULL,
	[ROLLNO] [nvarchar](200) NOT NULL,
	[GRNO] [nvarchar](100) NULL,
	[GENDER] [nvarchar](10) NULL,
	[DOB] [nvarchar](200) NULL,
	[BLOODGROUP] [nvarchar](100) NULL,
	[CASTE] [nvarchar](50) NULL,
	[RELIGION] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[CITY] [nvarchar](100) NULL,
	[PIN] [nvarchar](100) NULL,
	[STATE] [nvarchar](50) NULL,
	[FATHERNAME] [nvarchar](200) NULL,
	[MOTHERNAME] [nvarchar](200) NULL,
	[MOBILE] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SHIFTNAME] [nvarchar](200) NULL,
	[DOA] [nvarchar](200) NULL,
	[PHOTOPATH] [nvarchar](500) NULL,
	[CARDID] [nvarchar](500) NULL,
	[VALIDFROM] [nvarchar](200) NULL,
	[VALIDTO] [nvarchar](200) NULL,
	[sms] [nvarchar](10) NULL,
	[fullname] [nvarchar](500) NULL,
	[subcaste] [nvarchar](255) NULL,
	[contact2] [nvarchar](255) NULL,
	[photo] [image] NULL,
	[ispromoted] [nvarchar](10),
	[saralid] [nvarchar](100),
	[aadharcard] [nvarchar](100),
	[bankname] [nvarchar](200),
	[bankacc] [nvarchar](100),
	[cid] [nvarchar](100),
	[fingerid] [nvarchar](500),
	[freeshiptype] nvarchar(500),
	[status] nvarchar(500),
	[otp] nvarchar(500),
	[admissiontype] nvarchar(500),
	[subjects] nvarchar(500),
	[placeofbirth] nvarchar(500),
	[birthtaluka] nvarchar(500),
	[birthdistrict] nvarchar(500),
	[birthstate] nvarchar(500),
	[birthcountry] nvarchar(500),
	[mothertongue] nvarchar(500),
	[Nationality] nvarchar(100),
	[Lastschool] nvarchar(500),
	[Progress] nvarchar(500),
	[DateofLeaving] nvarchar(100),
	[Reasonforleaving] nvarchar(500),
	[conduct] nvarchar(500),
	[remark] nvarchar(500),
	dobwords nvarchar(500),
	admissionstd nvarchar(500),
	accountname nvarchar(500),
	IQLD nvarchar(10),
	schoolsection nvarchar(500),
	academicyear nvarchar(500),
	stdstudying nvarchar(500),
	approved nvarchar(10),
	approveddate nvarchar(20),
	approvedby nvarchar(100),
	lcstatus nvarchar(200),
	stdstudyingInWords nvarchar(500)
	
);

Create Table Academicyear
(
	[year] nvarchar(500),
	databasename nvarchar(500),
	[status] nvarchar(200),
	schoolreopen nvarchar(500),
	resultday1 nvarchar(500),
	resultday2 nvarchar(500)
	Primary Key ([year]),
	
);



Create Table [Bonafide]
(
	[serialno] nvarchar(11),
	[STUDENTID] [nvarchar](200) NULL,
	[FNAME] [nvarchar](200) NULL,
	[MNAME] [nvarchar](200) NULL,
	[LNAME] [nvarchar](200) NULL,
	[STD] [nvarchar](200)  NULL,
	[DIV] [nvarchar](200)  NULL,
	[ROLLNO] [nvarchar](200)  NULL,
	[GRNO] [nvarchar](100) NULL,
	[GENDER] [nvarchar](10) NULL,
	[DOB] [nvarchar](200) NULL,
	[BLOODGROUP] [nvarchar](100) NULL,
	[CASTE] [nvarchar](50) NULL,
	[RELIGION] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[CITY] [nvarchar](100) NULL,
	[PIN] [nvarchar](100) NULL,
	[STATE] [nvarchar](50) NULL,
	[FATHERNAME] [nvarchar](200) NULL,
	[MOTHERNAME] [nvarchar](200) NULL,
	[MOBILE] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SHIFTNAME] [nvarchar](200) NULL,
	[DOA] [nvarchar](200) NULL,
	[PHOTOPATH] [nvarchar](500) NULL,
	[CARDID] [nvarchar](500) NULL,
	[VALIDFROM] [nvarchar](200) NULL,
	[VALIDTO] [nvarchar](200) NULL,
	[sms] [nvarchar](10) NULL,
	[fullname] [nvarchar](500) NULL,
	[subcaste] [nvarchar](255) NULL,
	[contact2] [nvarchar](255) NULL,
	[photo] [image] NULL,
	[ispromoted] [nvarchar](10),
	[saralid] [nvarchar](100),
	[aadharcard] [nvarchar](100),
	[bankname] [nvarchar](200),
	[bankacc] [nvarchar](100),
	[cid] [nvarchar](100),
	[fingerid] [nvarchar](500),
	[freeshiptype] nvarchar(500),
	[status] nvarchar(500),
	[otp] nvarchar(500),
	[admissiontype] nvarchar(500),
	[subjects] nvarchar(500),
	[placeofbirth] nvarchar(500),
	[birthtaluka] nvarchar(500),
	[birthdistrict] nvarchar(500),
	[birthstate] nvarchar(500),
	[birthcountry] nvarchar(500),
	[mothertongue] nvarchar(500),
	[Nationality] nvarchar(100),
	[Lastschool] nvarchar(500),
	[Progress] nvarchar(500),
	[DateofLeaving] nvarchar(100),
	[Reasonforleaving] nvarchar(500),
	[LCNo] nvarchar(500),
	[conduct] nvarchar(500),
	[remark] nvarchar(500),
	dobwords nvarchar(500),
	admissionstd nvarchar(500),
	accountname nvarchar(500),
	IQLD nvarchar(10),
	schoolsection nvarchar(500),
	leftstatus nvarchar(100),
	issuedate nvarchar(100),
	academicyear nvarchar(500) NULL
);
Go
Create Table stddivmapping
(
	shiftname nvarchar(255),
	std nvarchar(255),
	div	nvarchar(255),
	CONSTRAINT [pk_idst] PRIMARY KEY 
	(
	shiftname ASC,
	std ASC,
	div ASC
	)

);
Go
Create Table BackupStatus
(
	backupdate nvarchar(20),
	backupstatus nvarchar(500),
	backuptype nvarchar(500),
	backuperror nvarchar(500)
);

Go
Create Table BusGroupMaster
(
	busgroupname  nvarchar(500)
)

Go
Create Table ExternalAppsLinks
(
	appname nvarchar(500),
	apppath nvarchar(max)
);

GO

Create Table ZkAccessDatabase(
		servername nvarchar(500),
		databasename nvarchar(500),
		username nvarchar(500),
		password nvarchar(500)
);

----------------------Leave Management----------------------------------


---------------------------------------Fees Tables -------------------------------------
Go
Create Table FeesAccounts_Headers(
	Accountname nvarchar(500) ,
	feeheader nvarchar(500),
	srno nvarchar(100) not null default 0,
	foreign key (Accountname) references FeesAccounts(Accountname)
);
Go
Create Table FeesAccounts_Std(
	Accountname nvarchar(500) ,
	std nvarchar(500),
	foreign key (Accountname) references FeesAccounts(Accountname)
);
GO

Create Table FreeshipRules
(
	rulename nvarchar(500),
	accountname nvarchar(500),
	feeheadername nvarchar(500),
	foreign key (accountname) references FeesAccounts(Accountname),
	feecategory nvarchar(500),
	amount nvarchar(500),
	[percent] nvarchar(500),
	percentamt nvarchar(500),
	[partial] nvarchar(10)
);



Go

CREATE TABLE FEECATEGORY
(
		feecategory nvarchar(500),
		accountname nvarchar(500)
);

Go

Create Table FineCategory
(
	accountname nvarchar(500),
	fineamt nvarchar(500),
	foreign key (accountname) references FeesAccounts(Accountname)
);

Go

Create Table FeeSmsTemplate
(
	tempid nvarchar(100),
	messagetemplate nvarchar(max)
);
Go

Create Table FeesOutstanding
(
	std nvarchar(50),
	div nvarchar(50),
	grno nvarchar(200),
	academicyear nvarchar(500),
	studentname nvarchar(500),
	accountname nvarchar(500),
	schoolsection nvarchar(500),
	totalamt nvarchar(500),
	balanceamt nvarchar(500),
	[status] nvarchar(3)
);

Go
------------------------------------------User Access Module --------------------------------
Create Table UserLogin
(
	[usercode] int not null identity(1,1) Primary Key,
	[username] nvarchar(500) Unique,
	[password] nvarchar(500),
	[personname] nvarchar(500),
	[contact] nvarchar(20),
	[emailid] nvarchar(500)
)
Go
Create Table AccessLogs
(
	[usercode] int not null,
	[username] nvarchar(500),
	[loggedin] nvarchar(500),
	[loggedout] nvarchar(500),
	[academicyear] nvarchar(500),
	foreign key (usercode) references UserLogin(usercode),
	foreign key ([username]) references Userlogin([username])

	
)
Go
Create Table UserAccess
(
	[usercode] int not null,
	[username] nvarchar(500),
	[studentmaster] nvarchar(10),
	[schoolinfo] nvarchar(10) default 0,
	[staffmaster] nvarchar(10) default 0,
	[marksheet] nvarchar(10) default 0,
	[fees] nvarchar(10) default 0,
	[feessettings] nvarchar(10) default 0,
	[cancelrcpt] nvarchar(10) default 0,
	[generatercpt] nvarchar(10) default 0,
	[addeditstudent] nvarchar(10) default 0,
	[shiftmaster] nvarchar(10) default 0,
	[smsattendance] nvarchar(10) default 0,
	[manualattendance] nvarchar(10) default 0,
	[busmaster] nvarchar(10) default 0,
	[ptamaster] nvarchar(10) default 0,
	downloadupload nvarchar(10) default 0,
	reports nvarchar(10) default 0,
	excelgenerate nvarchar(10) default 0,
	androidapp nvarchar(10) default 0,
	leavingcert nvarchar(10) default 0,
	bonafide nvarchar(10) default 0,
	feereports nvarchar(10) default 0,
	outstandingreport nvarchar(10) default 0,
	approvelc nvarchar(10) default 0,
	foreign key (usercode) references UserLogin(usercode),
	foreign key ([username]) references Userlogin([username])
)


GO

-------------------------------------------Marksheet Tables --------------------------------------------

CREATE TABLE [dbo].[Subjects](
	[Subject] [nvarchar](500) NOT NULL,
	Primary key ([Subject])
 )

GO


CREATE TABLE [dbo].[ExamMaster](
	[Examorder] [nvarchar](100) NULL,
	[Std] [nvarchar](100) NOT NULL,
	[Examname] [nvarchar](500) NOT NULL,
	[Month] [nvarchar](500) NULL,
	Primary Key([Std] ASC,[Examname] ASC)
	)
Go


CREATE TABLE [dbo].[SubjectMaster](
	[Srno] [nvarchar](500) NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[Std] [nvarchar](100) NOT NULL,
	[Examname] [nvarchar](500) NOT NULL,
	[minmarks] [nvarchar](500) NULL,
	[maxmarks] [nvarchar](500) NULL,
	[check] [int] NULL,
	[grade] [int] NULL,
	[scholastic_academic] [int] NULL,
	[scholastic_nonacademic] [int] NULL,
	formative nvarchar(100),
	summative nvarchar(100),
	[iqld] nvarchar(10) null,
 CONSTRAINT [pk1] PRIMARY KEY CLUSTERED 
(
	[Examname] ASC,
	[Subject] ASC,
	[Std] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

Go
CREATE TABLE [dbo].[StudentMarksheetIX](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Marks80] [nvarchar](50) NULL,
	[Marks20] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[academicyear] nvarchar(300),
	[marks40] nvarchar(50) NULL,
	[marks10] nvarchar(50) NULL

) ON [PRIMARY]

GO


CREATE TABLE [dbo].[Remark](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Remarks] [nvarchar](500) NULL,
	[application] nvarchar(500) NULL,
	[conduct] nvarchar(500) NULL,
	[progress] nvarchar(500) NULL,
	academicyear nvarchar(200) NULL
) ON [PRIMARY]

--michael
--CREATE TABLE [dbo].[Remark](
--	[Rollno] [nvarchar](500) NULL,
--	[Grno] [nvarchar](500) NULL,
--	[Studentname] [nvarchar](500) NULL,
--	[Std] [nvarchar](500) NULL,
--	[Div] [nvarchar](500) NULL,
--	[Examname] [nvarchar](500) NULL,
--	[specialprog] [nvarchar](500) NULL,
--	[likinghob] [nvarchar](500) NULL,
--	[needimprov] [nvarchar](500) NULL,
--	[application] [nvarchar](500) NULL,
--	[conduct] [nvarchar](500) NULL,
--	[remark] [nvarchar](500) NULL
--) ON [PRIMARY]
Go



CREATE TABLE [dbo].[GradeChart9](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[GradeChart8](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]


--CREATE TABLE [dbo].[GradeChart8](
--	[Grade] [nvarchar](10) NULL,
--	[Gradepoints] [nvarchar](10) NULL,
--	[gpa] [nvarchar](100) NULL,
--	[gpa2] [nvarchar](100) NULL,
--	[desc_indica] [nvarchar](500) NULL,
--	[minmarks] [nvarchar](10) NULL,
--	[maxmarks] [nvarchar](10) NULL,
--	[totalmarks] [nvarchar](10) NULL
--) ON [PRIMARY]


Go
CREATE TABLE [dbo].[GradeChart10](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]
Go

CREATE TABLE [dbo].[GradeChart1to7](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[GradeChart50](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[StudentMarksheetVIII](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[FormMarks] [nvarchar](50) NULL,
	[SummMarks] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[grade] [nvarchar](50) NULL,
	[academicyear] nvarchar(300)
) ON [PRIMARY]
Go

	CREATE TABLE [dbo].[StudentMarksheetItoVII](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[FormMarks] [nvarchar](50) NULL,
	[SummMarks] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[grade] [nvarchar](50) NULL,
	[descpremark] nvarchar(max),
	[academicyear] nvarchar(300)
) ON [PRIMARY]

Go

Create Table [schoolnamestd](
		[std] nvarchar(500),
		[schoolname] nvarchar(500),
		[schooludise] nvarchar(500),
		[academicyear] nvarchar(200)
)

Go
CREATE TABLE [dbo].[Pdfpath](
	[path] [nvarchar](500) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[Attendance](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[june] [nvarchar](500) NULL,
	[july] [nvarchar](500) NULL,
	[aug] [nvarchar](500) NULL,
	[sep] [nvarchar](500) NULL,
	[oct] [nvarchar](500) NULL,
	[total1] [nvarchar](500) NULL,
	[nov] [nvarchar](500) NULL,
	[dec] [nvarchar](500) NULL,
	[jan] [nvarchar](500) NULL,
	[feb] [nvarchar](500) NULL,
	[march] [nvarchar](500) NULL,
	[april] [nvarchar](500) NULL,
	[may] [nvarchar](500) NULL,
	[total2] [nvarchar](500) NULL,
	[gtotal] [nvarchar](500) NULL,
	[academicyear] nvarchar(500) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[WorkingDays](
	[Std] [nvarchar](500) NULL,
	[Month] [nvarchar](500) NULL,
	[TotalDays] [nvarchar](500) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[StudentMarksheetX](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Marks] [nvarchar](50) NULL,
	[practicals] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[academicyear] nvarchar(300)
) ON [PRIMARY]
Go
CREATE TABLE [dbo].[StudentMarksheetXI](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[MarksWrit] [nvarchar](50) NULL,
	[MarksOral] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[finaltotal] nvarchar(50) NULL,
	[average] nvarchar(50) NULL,
	[percentage] nvarchar(50) NULL,
	[Grade] nvarchar(50) NULL,
	academicyear nvarchar(300)
) ON [PRIMARY]
Go
CREATE TABLE [dbo].[StudentMarksheetPrePrimary](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Marks] [nvarchar](50) NULL,
	[Grade] [nvarchar](50) NULL,
	[academicyear] nvarchar(300)
) ON [PRIMARY]

Go
Create Table StudentPercentage
(
	section nvarchar(500),
	std nvarchar(500),
	div nvarchar(500),
	grno nvarchar(500),
	studentname nvarchar(500),
	totalmarks nvarchar(500),
	outoff nvarchar(500),
	percentage nvarchar(500),
	academicyear nvarchar(500),
	gender nvarchar(100)
)
Go

Create Table LeaveMaster
(
	leaveid nvarchar(500) NOT NULL,
	empcode nvarchar(500) NOT NULL,
	teachername nvarchar(500) NOT NULL,
	leavefrom nvarchar(10) NOT NULL,
	leaveto nvarchar(10) NOT NULL,
	leavetype nvarchar(100) NOT NULL
	 	


);
Go
Create Table SchoolHeaderName
(
	schoolsection nvarchar(500),
	headername nvarchar(500)
)
Go

CREATE TABLE [dbo].[AttendanceMarksheet](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	totalworking nvarchar(300) NULL,
	presentdays nvarchar(300) NULL,
	[academicyear] nvarchar(500) NULL,
	[examname] nvarchar(500) NULL
) ON [PRIMARY]

Go
-------------------------------------------Android Tables --------------------------------------------

CREATE TABLE [dbo].[DeviceDetails](
	[studentid] [nvarchar](500) NULL,
	[otp] [nvarchar](255) NULL,
	[deviceid] [nvarchar](255) NULL,
	[devicetype] [nvarchar](255) NULL,
	[deviceinfo] [nvarchar](255) NULL,
	[macid] [nvarchar](255) NULL,
	[osversion] [nvarchar](255) NULL,
	[appversion] [nvarchar](255) NULL,
	[date1] nvarchar(200) null
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[SchoolMapping](
	[schoolname] [nvarchar](500) NULL,
	[shortname] [nvarchar](500) NULL,
	[databasename] [nvarchar](500) NULL
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[Notification](
	[date] [nvarchar](500) NULL,
	[std] [nvarchar](500) NULL,
	[div] [nvarchar](500) NULL,
	[message] [nvarchar](max) NULL,
	[title] nvarchar(500),
	[studentid] nvarchar(500),
	filesize nvarchar(100),
	[sender] nvarchar(500)
) ;

Go
CREATE TABLE [dbo].[StudentMarksheet](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Cardid] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Marks] [nvarchar](500) NULL,
	[OutOf] [nvarchar](500) NULL,
	[Attendance] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Grade] [nvarchar](500) NULL,
	[internal] [nvarchar](500) NULL,
	[project] [nvarchar](500) NULL,
	[generalremark] nvarchar(500),
	[academic] nvarchar(500)
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[HomeworkNotification](
	[date] [nvarchar](500) NULL,
	[std] [nvarchar](500) NULL,
	[div] [nvarchar](500) NULL,
	[message] [nvarchar](max) NULL,
	[title] nvarchar(500),
	[studentid] nvarchar(500),
	filesize nvarchar(100),
	subjects nvarchar(500),
	[sender] nvarchar(500)
) ;

Go
Create Table Homework
(
	[homeworkdate] nvarchar(500),
	[std] nvarchar(500),
	[div] nvarchar(500),
	[homework] nvarchar(max),
	[smstime] nvarchar(500),
	filesize nvarchar(100),
	subjects nvarchar(500),
	[sender] nvarchar(500)
);
Go

Create Table SMSOTP
(
	studentid nvarchar(500),
	studentname nvarchar(500),
	otpmsg nvarchar(max),
	datetime1 nvarchar(500),
	isstudent nvarchar(10),
	mobileno nvarchar(100)
);

Go
Create Table subjects_app
(
	std nvarchar(500),
	subjects nvarchar(500)
)
Go
Create Table Suggestions
(
	studentid nvarchar(500),
	schoolid nvarchar(500),
	[date] nvarchar(100),
	group1 nvarchar(500),
	group2 nvarchar(500),
	[message] nvarchar(max),
	[isreply] nvarchar(10),
	[replyid] nvarchar(500)
);
Go

Create Table SuggessionResponse
(
	replyid int IDENTITY(1,1) PRIMARY KEY,
	studentid nvarchar(500),
	date nvarchar(500),
	message nvarchar(max),
	res_date nvarchar(500),
	res_staffid nvarchar(500),
	res_message nvarchar(max),
	res_std nvarchar(500),
	res_div nvarchar(500)
)
Go
Create Table OnlineMeetting
(
	[datetime] nvarchar(500),
	tool nvarchar(500),
	link nvarchar(max),
	std nvarchar(500),
	div nvarchar(100),
	[subject] nvarchar(500),
	lecdate nvarchar(100),
	lectime nvarchar(100),
	[message] nvarchar(max),
	senderid nvarchar(500),
	title nvarchar(500),
	studentid nvarchar(500)
)
Go
Create Table OnlineAttendance
(
	[studentid] [nvarchar](255) NOT NULL,
	[staffid] nvarchar(255) NOT NULL,
	[Date1] [nvarchar](200) NOT NULL,
	[InTime] [nvarchar](200) NOT NULL,
	[IsPresent] [nvarchar](10) NULL,
	[isStudent] [nvarchar](10) NULL,
	[att_status] [nvarchar](50) NULL,
	[std] [nvarchar](255) NULL,
	[div] [nvarchar](255) NULL,
	[StuName] [nvarchar](255) NULL,
	[grno] nvarchar(255) NULL,
	[subject] nvarchar(255) NOT NULL
)

-------------------------------------------END Android Tables --------------------------------------------

-------------------------------------SMS Settings---------------------------------------------

Create Table SmsSettings
(
	smsprovider nvarchar(500),
	smsurl  nvarchar(max),
	smsuser nvarchar(500),
	smspassword nvarchar(500),
	smstype nvarchar(500),
	senderid nvarchar(500),
	activesms nvarchar(10)

)

-------------------------------------END SMS Settings---------------------------------------------
--------------------------------Promotion Settingss ------------------------------------------

CREATE TABLE [dbo].[Promotion](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[examname] [nvarchar](500) NULL,
	[newstd] [nvarchar](500) NULL,
	[newdiv] [nvarchar](500) NULL,
	[academicyear] nvarchar(500) null
) ON [PRIMARY]

Go
Create Table StdPromotion
(
	std nvarchar(500),
	promotedstd nvarchar(500)
)


GO

Create Table [StudentPromotion]
(
		[c_Rollno] [nvarchar](500) NULL,
		[c_Grno] [nvarchar](500) NULL,
		[c_Studentname] [nvarchar](500) NULL,
		[c_Std] [nvarchar](500) NULL,
		[c_Div] [nvarchar](500) NULL,
		c_academicyear nvarchar(500) null,
		c_section nvarchar(500) null,
		c_admissiontype nvarchar(500),
		c_subject nvarchar(500),
		n_academicyear nvarchar(500) null,
		[n_std] [nvarchar](500) NULL,
		[n_div] [nvarchar](500) NULL,
		[n_grno] nvarchar(500) null,
		n_studentname nvarchar(500) null,
		n_section nvarchar(500) null,
		n_admissiontype nvarchar(500),
		n_subject nvarchar(500)
)

Go

Create Table [SchoolSectionMaster]
(
	sectionname nvarchar(500) Unique,
	srno nvarchar(10)
)

Go
CREATE TABLE [dbo].[PromotedDiv](
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[newstd] [nvarchar](500) NULL,
	[newdiv] [nvarchar](500) NULL,
	remark nvarchar(500)
) ON [PRIMARY]




--------------------------------- END Promotion Settings------------------------------------

-----------------Studentmaster settings---------------------

Create Table settings
(
	rulename nvarchar(500),
	[formatstring] nvarchar(500)
)

----------------- END Studentmaster settings---------------------
-----------------Digital Book Module---------------------

Create Table DigitalBooksMaster
(
	std nvarchar(500),
	grno nvarchar(500),
	studentname nvarchar(500),
	bookname nvarchar(500),
	booktagid nvarchar(500)
);
Go
Create Table DigitalBooksEntries
(
	date1 nvarchar(20),
	time1 nvarchar(10),
	std nvarchar(500),
	div nvarchar(500),
	grno nvarchar(500),
	studentname nvarchar(500),
	bookname nvarchar(500),
	booktagid nvarchar(500),
	machineid nvarchar(100)
);

Go
Create Table BooksWeightMaster
(
	bookname nvarchar(500),
	bkweight nvarchar(100)
)

-----------------END Digital Book Module---------------------
Go

Create Table MarksheetCategory
(
	srno nvarchar(100),
	category nvarchar(500)
)

Go
Create Table MarksheetReligion
(
	srno nvarchar(100),
	religion nvarchar(500)
);
Go
CREATE TABLE [GradeChartClg100](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]

Go
CREATE TABLE [GradeChartClg50](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]
Go

CREATE TABLE [GradeChartMarks](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]

Go

CREATE TABLE [GradeClass](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]
Go
Create Table WatsappMessages
(
	id int Not Null IDENTITY(1,1) Primary Key,
	Date1 nvarchar(20),
	time1 nvarchar(10),
	std nvarchar(100),
	div nvarchar(100),
	grno nvarchar(100),
	fullname nvarchar(500),
	cardid nvarchar(100),
	mobile nvarchar(20),
	[message] nvarchar(max),
	response nvarchar(500)
);
GO
CREATE TABLE [dbo].[GradeChart12](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[GradeChart1to2](
	[Grade] [nvarchar](10) NULL,
	[Gradepoints] [nvarchar](10) NULL,
	[gpa] [nvarchar](100) NULL,
	[gpa2] [nvarchar](100) NULL,
	[desc_indica] [nvarchar](500) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL,
	[totalmarks] [nvarchar](10) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[GradeChart20](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
)

Go
CREATE TABLE [dbo].[GradeChart30](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
)
Go
CREATE TABLE [dbo].[GradeChart60](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
)
Go
CREATE TABLE [dbo].[GradeChart70](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
)
Go
CREATE TABLE [dbo].[GradeChart8_60](
	[Grade] [nvarchar](10) NULL,
	[minmarks] [nvarchar](10) NULL,
	[maxmarks] [nvarchar](10) NULL
)

GO

CREATE TABLE [dbo].[StudentMarksheet10](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Written] [nvarchar](50) NULL,
	[oralsprac] [nvarchar](50)  NULL,
	[total] [nvarchar] (50) NULL

) 
GO
CREATE TABLE [dbo].[StudentMarksheet9](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Written] [nvarchar](50) NULL,
	[oralsprac] [nvarchar](50)  NULL,
	[yearwork] [nvarchar](50)  NULL,
	[total] [nvarchar] (50) NULL

)

Go

CREATE TABLE [dbo].[StudentMarksheet12](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[Written] [nvarchar](50) NULL,
	[oralsprac] [nvarchar](50)  NULL,
	[total] [nvarchar] (50) NULL,
	[thresholdtotal] nvarchar(50) default 0,
	[grade] [nvarchar] (50) NULL

) ;
Go
CREATE TABLE [dbo].[StudentMarksheet8](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Cardid] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[DailyObserA] [nvarchar](50) NULL,
	[OralsA] [nvarchar](50) NULL,
	[practicalexpA] [nvarchar](50) NULL,
	[activityA] [nvarchar](50) NULL,
	[projectA] [nvarchar](50) NULL,
	[UnitTestA] [nvarchar](50) NULL,
	[SelfstudyA] [nvarchar](50) NULL,
	[OthersA] [nvarchar](50) NULL,
	[TotalA] [nvarchar](50) NULL,
	[oralsB] [nvarchar](50) NULL,
	[practicalsB] [nvarchar](50) NULL,
	[writtenB] [nvarchar](50) NULL,
	[totalB] [nvarchar](50) NULL,
	[grandtotalAB] [nvarchar](50) NULL,
	[finalgrade] [nvarchar](50) NULL
) ON [PRIMARY]
Go

CREATE TABLE [dbo].[HeightWeight](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[examname] [nvarchar](500) NULL,
	[height] [nvarchar](500) NULL,
	[weight] [nvarchar](500) NULL
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[StudentMarksheet3to4](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Cardid] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[DailyObser] [nvarchar](50) NULL,
	[Orals] [nvarchar](50) NULL,
	[practicalexp] [nvarchar](50) NULL,
	[activity] [nvarchar](50) NULL,
	[project] [nvarchar](50) NULL,
	[UnitTest] [nvarchar](50) NULL,
	[Selfstudy] [nvarchar](50) NULL,
	[Others] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[summativeorals] [nvarchar](50) NULL,
	[summativewritten] [nvarchar](50) NULL,
	[summativetotal] [nvarchar](50) NULL,
	[grandtotal] [nvarchar](50) NULL,
	[finalgrade] [nvarchar](50) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[StudentMarksheet1to2](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Cardid] [nvarchar](500) NULL,
	[Subjectname] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[DailyObser] [nvarchar](50) NULL,
	[Orals] [nvarchar](50) NULL,
	[practicalexp] [nvarchar](50) NULL,
	[activity] [nvarchar](50) NULL,
	[project] [nvarchar](50) NULL,
	[UnitTest] [nvarchar](50) NULL,
	[Selfstudy] [nvarchar](50) NULL,
	[Others] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[summativeorals] [nvarchar](50) NULL,
	[summativewritten] [nvarchar](50) NULL,
	[summativetotal] [nvarchar](50) NULL,
	[grandtotal] [nvarchar](50) NULL,
	[finalgrade] [nvarchar](50) NULL
) ON [PRIMARY]

Go

CREATE TABLE [dbo].[PresenteeAttendance](
	[Rollno] [nvarchar](500) NULL,
	[Grno] [nvarchar](500) NULL,
	[Studentname] [nvarchar](500) NULL,
	[Std] [nvarchar](500) NULL,
	[Div] [nvarchar](500) NULL,
	[Examname] [nvarchar](500) NULL,
	[presentdays] [nvarchar](500) NULL,
	[absentdays] [nvarchar](500) NULL,
	[workingdays] [nvarchar](500) NULL
) ON [PRIMARY]

Go
Create Table TeachersDetails
(
	[teachername] nvarchar(500),
	[designation] nvarchar(500),
	[std] nvarchar(500),
	[div] nvarchar(500)
);
create Table FeesOnlineTransactionTable
(
	ref_id int Not Null IDENTITY(1,1) Primary Key,
	ref_encrypt nvarchar(500),
	Merchantid nvarchar(500) not null,
	Merchantid_encrypt nvarchar(500),
	[Datetime] datetime not null,
	cid int not null,
	std nvarchar(500) not null,
	div nvarchar(500) not null,
	stddiv_encrypt nvarchar(500),
	grno nvarchar(500) not null,
	grno_encrypt nvarchar(500),
	studentname nvarchar(500) not null,
	studentname_encrypt nvarchar(500),
	mobileno nvarchar(500) not null,
	mobileno_encrypt nvarchar(500),
	academicyear nvarchar(500) not null,
	academicyear_encrypt nvarchar(100),
	fees_amt nvarchar(500) not null,
	fees_amt_encrypted nvarchar(500),
	transaction_id nvarchar(500),
	payment_status nvarchar(500),
	payment_remark_json nvarchar(max),
	[signature] nvarchar(max),
	submerchant_id nvarchar(500) not null,
	submerchant_id_encrypted nvarchar(500),
	Mandatoryfield nvarchar(max) not null,
	Mandatoryfield_encrypted nvarchar(max),
	created_datetime nvarchar(500) not null,
	created_by nvarchar(500) not null,
	updated_datetime nvarchar(500),
	updated_by nvarchar(500)
);
Create Table Student_Freeship
(
	[Studentname] nvarchar(500),
	[Std] nvarchar(500),
	[Div] nvarchar(500),
	[Grno] nvarchar(100),
	[Cardid] nvarchar(500),
	[Freeship_Type] nvarchar(500) not null default '-',
	[Freeship_Amount] nvarchar(500) not null default 0,
	Accountname nvarchar(500) not null,
	academicyear nvarchar(200),

);