 .section-title {
            margin: 0 auto 0px auto;
        }

        .section-padding {
            padding-top: 18px;
            padding-bottom: 40px;
        }

        .effect-oscar {
            background: lightcyan;
        }

        .img-hw {
            width: 1000px;
            height: 667px;
        }



        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1000; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }

        /* END The Modal (background) */


.portfolio {
    /*background-color: #fff;*/
    position: relative;
    z-index: 9;
    text-align: center;
    margin-top:-50px;
}
.portfolio .read-more {
    background: #f1c152;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    margin: 0;
    border: 0;
    font-size: 20px;
    margin-top: -1px;
    color: #fff;
}
.gallary-column .read-more {
    width: 175px;
    font-size: 16px;
    border-radius: 30px;
    padding: 9px 15px;
    float: none;
    display: inline-block;
    margin-top: 50px;
    color: #000;
}
.gallary-column .read-more:hover {
    color: #fff;
}
.portfolio .read-more:hover {
    background-color: #111111;
}
.portfolio .read-more a {
    color: #fff;
}
.portfolio-filter {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    display: table;
}
.portfolio-filter button {
    background: floralwhite;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight:bold;
    box-shadow: none;
    font-weight: 500;
    border: 1px solid #DEDEDE;
    padding: 5px 10px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius:10px;
}
.portfolio-filter button:focus,
.portfolio-filter button:hover {
    outline: none;
    color: #f1c152;
    box-shadow: none;
}
.portfolio-filter button:last-of-type:after {
    content: "";
}
.portfolio-item,
.portfolio-item .item {
    padding: 0;
    overflow: hidden;
}
.effect-oscar {
    /*background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);*/


  /*  background: -webkit-linear-gradient(45deg, white 0%, #fcd592 40%, #fcd592 100%);
    background: linear-gradient(45deg, white 0%, #fcd592 40%, #fcd592 100%);*/

  background:none !important;
}
.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    /*width: 100%;*/
    height: 100%;
}
.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58, 52, 42, 0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}
.effect-oscar figcaption::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 10px solid rgba(0, 0, 0, 0.77);
    content: '';
}
.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.effect-oscar figcaption::before,
.effect-oscar .item-link a {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.effect-oscar .item-link {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.effect-oscar .item-link a {
    border: 2px solid transparent;
    border-radius: 100%;
    border: 2px solid #f1c152;
    width: 46px;
    height: 46px;
    display: block;
    text-align: center;
    line-height: 46px;
}
.effect-oscar:hover .item-link a:before {
    content: "";
    width: 36px;
    height: 36px;
    background-color: rgba(17, 17, 17, 0.69);
    position: absolute;
    left: 3px;
    border-radius: 100%;
    top: 3px;
    border: #000;
}
.plus-sign:before {
    content: "+";
    font-size: 1.8em;
    text-align: center;
    margin-top: 1px;
    display: block;
    margin-left: 1px;
    color: #F1C152;
}
.effect-oscar:hover .item-link a {
    border-radius: 100%;
    border: 2px solid #f1c152;
}
.effect-oscar:hover figcaption::before,
.effect-oscar:hover .item-link a {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    color: #fff;
}
.effect-oscar .item-title a {
    color: #fff;
    text-transform: uppercase;
}
.effect-oscar .item-title a:hover {
    text-decoration: none;
}
.effect-oscar .item-title {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    text-align: center;
    width: 100%;
    left: 0;
}
.effect-oscar:hover .item-title {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    bottom: 25%;
    opacity: 1;
}
.effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}
.effect-oscar:hover img {
    opacity: 0.4;
}


