@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

/* Fonts */

body {
    font-family: 'PT Sans', sans-serif;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-pt {
    font-family: 'PT Sans', sans-serif;
}

.font-acme {
    font-family: 'Acme', sans-serif;
}

.font-jose {
    font-family: 'Josefin Sans', sans-serif;
}

.text-black {
    color: black !important;
}

.bg-black {
    background-color: black !important;
}

.text-white {
    color: white !important;
}

.bg-white {
    background-color: white !important;
}

.bg-blue-grad {
    background: linear-gradient(to bottom, #e6e5f2, #4599cd);
}

.bg-blue {
    background: #e6e5f2;
}


/* /Fonts */

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}


/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

body {
    /* background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c); */
    min-height: 100vh;
    /* overflow-x: hidden; */
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.toggle-menu {
    z-index: 999;
    margin-top: -55px;
    position: absolute;
    display: none;
}

.toggle-name {
    margin-left: 50px;
    display: none;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .toggle-menu {
        z-index: 999;
        margin-top: -55px;
        position: absolute;
        display: block;
    }
    .toggle-name {
        margin-left: 50px;
        display: block;
    }
}